<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; minimum-scale=0.6666" />
  <title>zudou</title>

<script src="../javascripts/jquery-1.4.2.js"></script>
<script src="../javascripts/soyutils.js"></script>
<script src="../javascripts/dc-template.js"></script>
<script src="../javascripts/mybinding.js"></script>

<link rel="stylesheet" href="../stylesheets/reader.css" type="text/css">
<link rel="stylesheet" href="../stylesheets/g.css" type="text/css">

<script language="javascript">

var hideURLbar = function() {window.scrollTo(0,1);};
var hideBar = function() {
	  if (navigator.userAgent.indexOf('iPhone') != -1) {
		  setTimeout(hideURLbar, 100);
	  }
	};
  //list all translation here will waste time. We should load just few data which is needful for specific template
	//global variable.ugly.
  trans = {"add_comment":"<%=t :add_comment%>", "i_like_it":"<%=t :i_like_it%>", "menu":"<%=t :menu%>", "send" : "<%=t :send%>"};
	
  $(document).ready(init);
  
  var menu_content = [{ id:'mail-box', label:'<%=t :my_mail_box%>'}, 
											{id: 'most-popular-book-review', label:'<%=t :The_most_Popular_book_review%>'},
											{id: 'most-polular-movie-review', label:'<%=t :The_most_Popular_movie_review%>'},
											{id: 'contact-miniblog', label:'<%=t :some_mini_blog_nearby%>'}
											];
  
  current_menu_id = '';

  function init(){
    doFresh();
    page_loaded();
  };



  function doFresh(){
    $('#entries').innerHTML = '';
    current_menu_id = 'most-popular-book-review';

  	$.ajax({
    	type: 'post',
    	url: '/t/refresh_entries',
    	data: 'id=most-popular-book-review',
    	success: function(data) { 
				//$('#entries').html(dc.template.reviews({'list' :data, 'trans' : trans} ));
				//reviews_binding($('#entries'), data); //is this 'data' too big?
			  var content = dc.template.reviews({'list' :data, 'trans' : trans} );
				$(document).trigger('SHOW_LIST', [data, content]);
			}
  	});
  };

  function refreshMenu() {
    $('#entries').html('');
		 $.ajax({
						 type: 'get', url: '/t/menu', success: function(data){
										 $('#entries').html(data);
										 menu_content = $('#entries').html();
										 my_menu_bind($('#entries'));
						 }
		 });
  };

  function viewMenu(){
			$('#entries').empty();
			my_menu_bind($('#entries'), menu_content);
  };

  function activeTab(element){
    $('ul#nav_main li').each( function(){
		  if(this.id == element.id){
			  $(this).removeClass('unselected');
				$(this).addClass('selected');
			}else{
			  $(this).addClass('unselected');
				$(this).removeClass('selected');
			}
		});
  };

  function page_loaded(evt) {

  //nearly same with logic of menu-button. FIXME
	if($('#header-refresh') != null){
	$('header-refresh').onclick = function(){
		$('entries').innerHTML = '';
	    <%= remote_function(:update => "entries",
						  :with => "'id=' + current_menu_id",
	                      :url => { :action => :refresh_entries},
	                      :complete => "page_loaded()"
	    ) %>;
	};
	};
			
	if ($('#back-to-feeds')){
      $('back-to-feeds').onclick  = function(){
	 	  current_menu_id = this.id;
		  if($('nav-title'))
		  	$('nav-title').innerHTML = '<%=t :menu%>'; //this.innerHTML;
	      viewMenu(); 
	  }; 
	};

	//if I can use observer or event. 
	if($('#search-tab') != null){
	  $('#search-tab').bind('click', function(){
		  activeTab(this);
		  $('#entries').html($('#search-area').html());
		  search_bind($('#entries'));
	  });
  };

	if($('#say-tab') != null){
		$('#say-tab').bind('click', function(){
		  activeTab(this);
		  $('#entries').html($('#miniblog-area').html());
			mysay_bind($('#entries') );
	  });
  };

	if($('#mine-tab') != null) {
	  $('#mine-tab').bind('click', function(){
			activeTab(this);
			viewMenu();
	  });
  };
  
  //a control center. make sence. different from function invoking.
  $(document).bind('SHOW_LIST', function(e, data, html_content) {
		$('#entries').html(html_content);
		reviews_binding($('#entries'), data);
		hideBar();
	});
	
	$(document).bind('LOAD_LIST', function(){
		$('#entries').html("<img src='../images/loading.gif'>");
	});

  }
</script>
</head>
<body>
<div id="nav">
			<ul id="nav_main">
				
				<li id="logo_tab" class="unselected">
					<a type="nav" href=".">
						<p>&nbsp;<span style="color:white;background-color:red;"><%=t :app_name1%></span><span style="color:white;background-color:#006600;"><%=t:app_name2%></span>&nbsp;reload</p>
					</a>
				</li>
				<li id="say-tab" class="unselected"><a type="nav" href="#search"><%=t :SaySome%></a></li>
				<li id="mine-tab" class="unselected"><a type="nav" href="#nearby/"><%=t :MineTab%></a></li>
				<li id="search-tab" class="unselected"><a type="nav" href="#search"><%=t :Search%></a></li>
			</ul>
			<ul id="nav_sub"></ul>
</div>




<div id="center1">

  <div id="entries">
  </div>
  
  <!--say something dialog-->
  <div id="miniblog-area" class='hidden'>
	<div style="padding: 12px;">
		<h4><%=t :SaySome_desc%></h4><div id='response_msg'></div>
  		<textarea id='miniblog_content' name="miniblog_content"></textarea>
		<input id='miniblog-area-submit' type="button" class="Butt"  value="<%=t :send%>"/>
	</div>
  </div>

  <div id="search-area" class='hidden'>
	<div style="padding: 12px;">
		<h4><%=t :search_desc%></h4>
  		<input id='search_criteria' name="search_criteria" class="search-field"/>
		<select name="subject_cat" id="subject_cat" style="width:100%;">
			<option value="book"><%=t :book%></option>
			<option value="movie"><%=t :movie%></option>
			<option value="music"><%=t :music%></option>
			
		</select>
		<br>
		<input id='search-area-submit' class="Butt" type="button" value="<%=t :Search%>"/>
	</div>
  </div>
</div>

<div class="footer">
	any problem please send to fkpwolf At gmail.com
	<br>
	or submit <a href="http://code.google.com/p/doubanclient/issues/list">here</a>. Thanks!
	<br><br><br>
	zudou.net
	<!--below is used for getting rid of toolbar at iPhone-->
</div>

</body>
</html>


